<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask APP</title>
</head>
<body>
    <header>
        <h1> Welcome to my Flask APP</h1>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}   
    </main>
    <footer>
        <p> &copy; 2024 - Flask APP. All rights reserved.</p>
    </footer>
</body>
</html>